body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(../img/subtle_white_feathers.png);
}

#imageCanvas {
  width: 400;
  height: 400;
  background-color: #ECECEC;
}

.wrap {
  padding-top : 60px;
}